@import "../product/css/variables";
@import "../product/css/responsive";
@import "../product/css/fonts";


@font-face {
  font-family: 'BlackPinkSignature';
  src: url('../fonts/Black_Pink_Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'TenezRegular';
  src: url('../fonts/Tenez-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TenezItalic';
  src: url('../fonts/Tenez-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'TakenbyVulturesDemo';
  src: url('../fonts/Taken_by_Vultures_Demo.otf') format('truetype');
}

$primary: #E6B9B2;
$primary_dark: #BF7A51;
$primary_dark_2: #E6B9B3;


::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // box-shadow: inset 0 0 6px rgba(#0F7B3E, 0.9);
  // border-radius: 10px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba($primary_dark, 0.6);
  // border: 1px solid rgba(0, 0, 0, 0.3)
}


* {
  user-select: none;
}


body {
  padding: 0px;
  margin: 0px;
}



.navbar {
  width: 100%;
  background-color: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../product/assets/nav/nav-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 20px;

  transition: height $transition-normal;
  
  height: $nav-height;

  @include responsive(tab) {
      height:  #{$nav-height * 0.75};
  }
  
  @include responsive(mobile) {
      height:  #{$nav-height * 0.6};
  }

  .logo {
      background-image: url(../product/assets/logo_only_color_small.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 70px;
      width: 100px;

      @include responsive(tab) {
          height: 50px;
      }
  }
  .logo-text {
      background-image: url(../assets/ssquare_text.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 40px;
      width: 200px;

      @include responsive(tab) {
          display: none;
      }
      
  }
  .search {
      height: 25px;
      width: 25px;
      background-image: url(../assets/search.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @include responsive(tab) {
          height: 20px;
          width: 20px;
      }
  }

  .hamburger-box {
      height: 25px;
      width: 30px;
      position: relative;

      @include responsive(tab) {
          height: 20px;
          width: 25px;
      }

      .hamburger {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: $primary_dark;
          height: 4px;
          width: 100%;
          border-radius: 2px;

          &::after {
              content: "";
              position: absolute;
              top: 9px;
              left: 0px;
              background-color: $primary_dark;
              height: 4px;
              width: 100%;
              border-radius: 2px;
          }

          &::before {
              content: "";
              position: absolute;
              top: -9px;
              left: 0px;
              background-color: $primary_dark;
              height: 4px;
              width: 100%;
              border-radius: 2px;
          }
          
      }
      
  }
}

.nav-line {
  height: 5px;
  width: 100%;
  background-image: url(../assets/image_3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive(tab) {
      height: 4px;
  }

  @include responsive(mobile) {
      height: 3px;
  }
}




.home_header_section {
  // height: 600px;
  height: 100vh;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../assets/image_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 500ms;

  overflow: hidden;

  @media only screen and (max-width: 700px) {
    // height: 500px;
  }


  .logo {
    height: 500px;
    width: auto;
    transition: all 500ms;

    @media only screen and (max-width: 700px) {
      height: 270px;
    }

    animation-name: moveLogo;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
  }

  @keyframes moveLogo {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(720deg);
      
    }
  }
  

}

.home_slider_section {
  min-height: 500px;
  transition: height 500ms;
  // border: 1px solid red;
  overflow: hidden;

  @media only screen and (max-width: 500px) {
    min-height: 400px;
    padding: 50px 10px;
  }

  width: 100%;
  background: #FFFFFF url(../assets/main-slide.png) no-repeat center;
  background-size: contain;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;


  .home_top_panel_container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    // background-color: yellow;

    width: 100%;
    height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
    transition: height 500ms;

    @media only screen and (max-width: 700px) {
      height: 35px;
      transition: height 500ms;
    }

    .home_handler {
      height: 100%;
      width: 40px;
      transition: width 500ms;

      @media only screen and (max-width: 700px) {
        width: 30px;
        transition: width 500ms;
      }

      background: url(../assets/image_3.png) no-repeat center;
      background-position-x: 60%;
      background-size: cover;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        height: 20%;
        width: calc(100% + 2px);
        left: -1px;
        position: absolute;
        top: 20%;
        background-color: #FFFFFF;
      }

      &::before {
        content: "";
        height: 20%;
        width: calc(100% + 2px);
        left: -1px;
        position: absolute;
        bottom: 20%;
        background-color: #FFFFFF;
      }
    }

    .home_seach_button {
      height: 100%;
      width: auto;
      cursor: pointer;
    }


  }


  .home_data_box {
    height: fit-content;
    width: 50%;
    text-align: left;
    color: $primary;
    display: inline;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: width 500ms;

    @media only screen and (max-width: 750px) {
      width: 80%;
    }

    @media only screen and (max-width: 500px) {
      width: 100%;
    }

    .home_header {
      font-family: "BlackPinkSignature";
      font-size: 90px;
      transition: font 500ms;
      padding-left: 20px;
      position: relative;

      @media only screen and (max-width: 500px) {
        font-size: 30px;
      }

    }

    .read_more_btn {
      color: inherit;
      text-decoration: none;
    }

    .home_sub_header {
      font-family: "TenezRegular";
      font-size: 35px;
      transition: font 500ms;
      // position: absolute;
      // top: 260px;
      // left: 180px;
      padding-left: 20px;
      position: relative;

      @media only screen and (max-width: 500px) {
        font-size: 20px;
        // top: 210px;
        // left: 80px;
      }
    }

    .home_sub_sub_header {
      font-family: "TenezItalic";
      font-size: 27px;
      transition: font 500ms;
      // position: absolute;
      // top: 320px;
      // left: 180px;

      padding-left: 20px;
      position: relative;

      @media only screen and (max-width: 500px) {
        font-size: 16px;
        // top: 230px;
        // left: 80px;
      }
    }

    .home_button {
      background-image: linear-gradient(to right, $primary, $primary_dark);
      width: fit-content;
      height: fit-content;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 12px 30px;
      position: absolute;
      bottom: 40px;
      left: 180px;

      margin-top: 85px;
      font-family: "Maven Pro";
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.3px;
      border-radius: 2px;

      cursor: pointer;
      @media only screen and (max-width: 500px) {
        font-size: 10px;
        bottom: 50px;
        left: 80px;
      }

    }
  }


}

.home_salone_section {
  width: 100%;
  height: fit-content;


  .home_caption_container {
    width: 100%;
    // height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    box-sizing: border-box;
    // border: 1px solid red;

    background: url(../assets/image_3.png) no-repeat center;
    background-size: cover;

    // background-attachment: fixed;


    .home_image {
      height: 60px;
      width: auto;
      // margin-bottom: 20px;
      transition: height 500ms;

      @media only screen and (max-width: 500px) {
        height: 40px;
      }

    }


    .home_caption_text {
      color: #FFFFFF;
      font-family: "TenezRegular";
      font-weight: 500;
      font-size: 40px;
      letter-spacing: 0.4px;
      margin-bottom: -10px;
      transition: font 500ms;

      @media only screen and (max-width: 500px) {
        font-size: 20px;
      }

    }


  }

  .home_salone_body {
    // border: 1px solid red;
    box-sizing: border-box;
    height: 600px;
    width: 100%;

    background: url(../assets/image_4.png) no-repeat center;
    background-size: cover;
    transition: background 500ms;
    transition: height 500ms;

    @media only screen and (max-width: 700px) {
      background-position-x: 72%;
    }

    @media only screen and (max-width: 500px) {
      height: 300px;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    .home_salone_overlay {
      position: absolute;
      height: 0%;
      width: 0%;
      right: 0px;
      bottom: 0px;
      background-color: rgba(#000000, 0.2);
      z-index: 1;
      // display: none;
      transition: all 500ms;

      @media only screen and (max-width: 700px) {
        height: 100%;
        width: 100%;
      }

    }

    .home_salone_data_box {
      width: 70%;
      // border: 1px solid red;
      text-align: center;
      transition: all 500ms;
      color: $primary_dark_2;

      z-index: 2;

      @media only screen and (max-width: 700px) {
        width: 100%;
        transform: scale(0.7);
        color: #FFFFFF;
      }

      @media only screen and (max-width: 500px) {
        transform: scale(0.5);
      }

      .home_salone_line_1,
      .home_salone_line_3 {
        font-family: "TenezRegular";
        font-size: 50px;
        font-weight: 500;

      }

      .home_salone_line_1 {
        // margin-bottom: 10px;
      }

      .home_salone_line_3 {
        margin-top: -140px;
      }

      .home_salone_line_2 {
        font-family: "BlackPinkSignature";
        font-size: 170px;
        position: relative;
        top: -100px;
        left: -50px;
      }

      .home_salone_line_1,
      .home_salone_line_2,
      .home_salone_line_3 {
        transition: all 1000ms;
      }


    }


  }

  .home_salone_footer_section {
    width: 100%;
    background-color: #FDE6DE;

    padding: 30px;
    box-sizing: border-box;

    // transition: all 500ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    * {
      transition: all 500ms;
    }

    .home_item_body {
      // border: 1px solid red;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;


      .home_pattern_1 {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin-bottom: 10px;
        background: url(../assets/image_3.png) no-repeat center;
        background-size: cover;
        transition: all 500ms;

        background-attachment: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        .home_pattern_2 {
          height: calc(100% - 6px);
          width: calc(100% - 6px);
          border-radius: 50%;
          background: url(../assets/image_1.png) no-repeat center;

          display: flex;
          justify-content: center;
          align-items: center;

          background-size: cover;

          .home_salone_item_image {
            height: 50%;
          }


        }
      }

      .home_salone_item_caption {
        font-family: "TenezRegular";
        font-size: 14px;
      }

    }


  }

}

.home_boutique_section {
  width: 100%;
  height: fit-content;


  .home_caption_container {
    width: 100%;
    // height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    box-sizing: border-box;
    // border: 1px solid red;

    background: url(../assets/image_3.png) no-repeat center;
    background-size: cover;

    // background-attachment: fixed;


    .home_image {
      height: 60px;
      width: auto;
      // margin-bottom: 20px;
      transition: height 500ms;

      @media only screen and (max-width: 500px) {
        height: 40px;
      }

    }


    .home_caption_text {
      color: #FFFFFF;
      font-family: "TenezRegular";
      font-weight: 500;
      font-size: 40px;
      letter-spacing: 0.4px;
      margin-bottom: -10px;
      transition: font 500ms;

      @media only screen and (max-width: 500px) {
        font-size: 20px;
      }

    }


  }

  .home_salone_body {
    // border: 1px solid red;
    box-sizing: border-box;
    height: 600px;
    width: 100%;

    background: url(../assets/image_5.png) no-repeat center;
    background-size: cover;
    transition: background 500ms;
    transition: height 500ms;

    @media only screen and (max-width: 700px) {
      background-position-x: 72%;
    }

    @media only screen and (max-width: 500px) {
      height: 300px;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    .home_salone_overlay {
      position: absolute;
      height: 0%;
      width: 0%;
      right: 0px;
      bottom: 0px;
      background-color: rgba(#000000, 0.2);
      z-index: 1;
      // display: none;
      transition: all 500ms;

      @media only screen and (max-width: 700px) {
        height: 100%;
        width: 100%;
      }

    }

    .home_salone_data_box {
      width: 70%;
      text-align: center;
      transition: all 500ms;
      color: $primary_dark_2;
      padding: 0px 0px 0px 30px;
      box-sizing: border-box;

      z-index: 2;

      @media only screen and (max-width: 700px) {
        width: 100%;
        transform: scale(0.7);
        color: #FFFFFF;
      }

      @media only screen and (max-width: 500px) {
        transform: scale(0.5);
      }

      .home_salone_line_1 {
        font-family: "TenezRegular";
        font-size: 50px;
        font-weight: 500;

      }

      .home_salone_line_1 {
        // margin-bottom: 10px;
        position: relative;
        left: -155px;

        @media only screen and (max-width: 500px) {
          left: -65px;
        }
      }

      .home_salone_line_2 {
        font-family: "BlackPinkSignature";
        font-size: 170px;
        position: relative;
        top: -100px;
        // left: 50px;

        @media only screen and (max-width: 500px) {
          top: -50px;
          font-size: 100px;
        }
      }

      .home_salone_line_1,
      .home_salone_line_2 {
        transition: all 1000ms;
      }


    }


  }

  .home_salone_footer_section {
    width: 100%;
    background-color: #FDE6DE;

    padding: 30px;
    box-sizing: border-box;

    // transition: all 500ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    * {
      transition: all 500ms;
    }

    .home_item_body {
      // border: 1px solid red;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;


      .home_pattern_1 {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin-bottom: 10px;
        background: url(../assets/image_3.png) no-repeat center;
        background-size: cover;
        transition: all 500ms;

        background-attachment: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        .home_pattern_2 {
          height: calc(100% - 6px);
          width: calc(100% - 6px);
          border-radius: 50%;
          background: url(../assets/image_1.png) no-repeat center;

          display: flex;
          justify-content: center;
          align-items: center;

          background-size: cover;

          .home_salone_item_image {
            height: 50%;
          }


        }
      }

      .home_salone_item_caption {
        font-family: "TenezRegular";
        font-size: 14px;
      }

    }


  }

}

.home_spa_section {
  width: 100%;
  height: fit-content;


  .home_caption_container {
    width: 100%;
    // height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;

    padding: 30px;
    box-sizing: border-box;
    // border: 1px solid red;

    background: url(../assets/image_3.png) no-repeat center;
    background-size: cover;

    // background-attachment: fixed;


    .home_image {
      height: 60px;
      width: auto;
      // margin-bottom: 20px;
      transition: height 500ms;
      margin-left: 20px;

      @media only screen and (max-width: 500px) {
        height: 40px;
      }

    }


    .home_caption_text {
      color: #FFFFFF;
      font-family: "TenezRegular";
      font-weight: 500;
      font-size: 40px;
      letter-spacing: 0.4px;
      margin-bottom: -10px;
      transition: font 500ms;

      @media only screen and (max-width: 500px) {
        // font-size: 20px;
      }

    }


  }

  .home_salone_body {
    // border: 1px solid red;
    box-sizing: border-box;
    height: 450px;
    width: 100%;

    background: url(../assets/image_6.png) no-repeat center;
    background-size: cover;
    transition: background 500ms;
    transition: height 500ms;

    @media only screen and (max-width: 700px) {
      background-position-x: 80%;
    }

    @media only screen and (max-width: 500px) {
      // height: 300px;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    .home_salone_overlay {
      position: absolute;
      height: 0%;
      width: 0%;
      right: 0px;
      bottom: 0px;
      background-color: rgba(#000000, 0.2);
      z-index: 1;
      // display: none;
      transition: all 500ms;

      @media only screen and (max-width: 700px) {
        height: 100%;
        width: 100%;
      }

    }

    .home_salone_data_box {
      z-index: 1;
      width: 50%;
      height: fit-content;
      // border: 1px solid red;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      padding: 20px 0px 20px 150px;
      box-sizing: border-box;

      transition: all 500ms;

      @media only screen and (max-width: 700px) {
        width: 100%;
        padding: 30px;
        align-items: center;
      }

      * {
        transition: all 500ms;
      }


      .home_salone_text {
        word-wrap: break-word;
        text-align: right;
        font-family: "Quicksand";
        font-size: 13px;
        line-height: 24px;
        color: #898989;
        font-weight: 600;

        @media only screen and (max-width: 700px) {
          color: #FFFFFF;
          text-align: center;
          font-weight: 600;

        }

      }

      .home_salone_read_more_btn {
        color: inherit;
        text-decoration: none;
        margin-top: 35px;
        
        .home_salone_button {
          background-image: linear-gradient(to right, $primary, $primary_dark);
          width: fit-content;
          height: fit-content;
          color: #FFFFFF;
          text-transform: uppercase;
          padding: 12px 30px !important;
  
          font-family: "Maven Pro";
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.3px;
          border-radius: 2px;
  
          cursor: pointer;
  
        }
      }



    }


  }

  .home_salone_footer_section {
    width: 100%;
    background-color: #FDE6DE;

    padding: 30px;
    box-sizing: border-box;

    // transition: all 500ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    * {
      transition: all 500ms;
    }

    .home_item_body {
      // border: 1px solid red;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;


      .home_pattern_1 {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin-bottom: 10px;
        background: url(../assets/image_3.png) no-repeat center;
        background-size: cover;
        transition: all 500ms;

        background-attachment: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        .home_pattern_2 {
          height: calc(100% - 6px);
          width: calc(100% - 6px);
          border-radius: 50%;
          background: url(../assets/image_1.png) no-repeat center;

          display: flex;
          justify-content: center;
          align-items: center;

          background-size: cover;

          .home_salone_item_image {
            height: 50%;
          }


        }
      }

      .home_salone_item_caption {
        font-family: "TenezRegular";
        font-size: 14px;
      }

    }


  }

}

.home_ad_section {
  width: 100%;
  height: fit-content;

  .home_salone_body {
    // border: 1px solid red;
    box-sizing: border-box;
    height: 600px;
    width: 100%;

    background: url(../assets/image_7.png) no-repeat center;
    background-size: cover;
    background-position-y: bottom;
    transition: background 500ms;
    transition: height 500ms;

    @media only screen and (max-width: 700px) {
      background-position-x: left;
      height: 500px;
    }

    @media only screen and (max-width: 500px) {
      height: 300px;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    .home_salone_overlay {
      position: absolute;
      height: 0%;
      width: 0%;
      right: 0px;
      bottom: 0px;
      background-color: rgba(#000000, 0.2);
      z-index: 1;
      // display: none;
      transition: all 500ms;

      @media only screen and (max-width: 700px) {
        height: 100%;
        width: 100%;
      }

    }

    .home_salone_data_box {
      width: 70%;
      text-align: center;
      transition: all 500ms;
      color: #FFFFFF;
      // border: 1px solid red;
      padding: 0px 0px 0px 30px;
      box-sizing: border-box;


      z-index: 2;

      @media only screen and (max-width: 700px) {
        width: 100%;
        transform: scale(0.7);
        color: #FFFFFF;
      }

      @media only screen and (max-width: 500px) {
        transform: scale(0.5);
      }

      .home_salone_line_1 {
        font-family: "TenezRegular";
        font-size: 50px;
        font-weight: 500;

      }

      .home_salone_line_1 {
        // margin-bottom: 10px;
        position: relative;
        left: -155px;

        @media only screen and (max-width: 500px) {
          left: -65px;
        }
      }

      .home_salone_line_2 {
        font-family: "BlackPinkSignature";
        font-size: 170px;
        position: relative;
        top: -100px;
        // left: 50px;

        @media only screen and (max-width: 500px) {
          top: -50px;
          font-size: 100px;
        }
      }

      .home_salone_line_1,
      .home_salone_line_2 {
        transition: all 1000ms;
      }


    }


  }

  .home_salone_footer_section {
    width: 100%;
    background-color: #FDE6DE;

    padding: 30px;
    box-sizing: border-box;

    // transition: all 500ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    * {
      transition: all 500ms;
    }

    .home_item_body {
      // border: 1px solid red;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;


      .home_pattern_1 {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin-bottom: 10px;
        background: url(../assets/image_3.png) no-repeat center;
        background-size: cover;
        transition: all 500ms;

        background-attachment: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        .home_pattern_2 {
          height: calc(100% - 6px);
          width: calc(100% - 6px);
          border-radius: 50%;
          background: url(../assets/image_1.png) no-repeat center;

          display: flex;
          justify-content: center;
          align-items: center;

          background-size: cover;

          .home_salone_item_image {
            height: 50%;
          }


        }
      }

      .home_salone_item_caption {
        font-family: "TenezRegular";
        font-size: 14px;
      }

    }


  }

}

.home_footer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  transition: all 500ms;

  * {
    transition: all 500ms;
  }

  .home_top_line {
    height: 20px;
    width: 100%;
    background-color: #FDE6DE;
  }

  .home_data_box {
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    // border: 1px solid orange;
    transition: all 500ms;

    @media only screen and (max-width: 400px) {
      padding: 30px;
    }


    .home_left_sec {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      // border: 1px solid red;
      transition: all 500ms;

      @media only screen and (max-width: 850px) {
        width: 100%;
        justify-content: center;
      }

      .home_left_logo {
        height: 120px;
      }

      .home_data_container {
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        padding: 10px 20px;
        box-sizing: border-box;
        color: #BF887B;
        font-family: "TenezRegular";
        font-size: 13px;
        position: relative;

        .home_heading {
          font-size: 15px;
          letter-spacing: 0.4px;
        }

        .home_sub_heading {
          margin-top: -6px;
        }

        .home_line {
          height: 1px;
          width: 100%;
          background-color: #BF887B;
          border-radius: 2px;
        }

        .home_phone, .home_mail, .home_insta {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 0px 0px 0px;
          box-sizing: border-box;

          .home_icon {
            height: 17px;
            margin-right: 7px;

            &.phone {
              height: 19px;
            }

          }


        }
      }


    }

    .home_right_sec {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      // border: 1px solid red;
      color: rgba(#BF887B, 0.7);
      font-family: "Roboto";
      font-size: 13px;

      @media only screen and (max-width: 850px) {
        width: 100%;
        align-items: center;
      }

      @media only screen and (max-width: 500px) {
        font-size: 11px;
      }

      .home_right_data {
        text-align: center;

        .home_social_container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 20px 0px 15px 0px;
          box-sizing: border-box;
          // border: 1px solid red;


          .home_icon {
            height: 17px;
            margin: 0px 25px;

            @media only screen and (max-width: 500px) {
              margin: 0px 15px;
            }
          }
        }
      }


    }


  }


}

.about_us_section {
  min-height: 500px;
  transition: height 500ms;
  // border: 1px solid red;
  overflow: hidden;

  @media only screen and (max-width: 500px) {
    min-height: 400px;
    padding: 50px 10px;
  }

  width: 100%;
  background: #FFFFFF url(../assets/about-us.png) no-repeat center;
  background-size: cover;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  box-sizing: border-box;


  .about_us_top_panel_container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    // background-color: yellow;

    width: 100%;
    height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
    transition: height 500ms;

    @media only screen and (max-width: 700px) {
      height: 35px;
      transition: height 500ms;
    }

    .about_us_handler {
      height: 100%;
      width: 40px;
      transition: width 500ms;

      @media only screen and (max-width: 700px) {
        width: 30px;
        transition: width 500ms;
      }

      background: url(../assets/image_3.png) no-repeat center;
      background-position-x: 60%;
      background-size: cover;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        height: 20%;
        width: calc(100% + 2px);
        left: -1px;
        position: absolute;
        top: 20%;
        background-color: #FFFFFF;
      }

      &::before {
        content: "";
        height: 20%;
        width: calc(100% + 2px);
        left: -1px;
        position: absolute;
        bottom: 20%;
        background-color: #FFFFFF;
      }
    }

    .about_us_search_button {
      height: 100%;
      width: auto;
      cursor: pointer;
    }


  }


  .about_us_data_box {
    height: fit-content;
    width: 40%;
    text-align: left;
    color: $primary;
    display: inline;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    box-sizing: border-box;
    transition: width 500ms;

    @media only screen and (max-width: 750px) {
      width: 80%;
    }

    @media only screen and (max-width: 500px) {
      width: 100%;
    }

    .about_us_header {
      font-family: "BlackPinkSignature";
      // font-size: 150px;
      font-size: 90px;
      padding-left: 20px;
      transition: font 500ms;
      position: relative;

      @media only screen and (max-width: 500px) {
        font-size: 45px;
      }

    }

    .about_us_sub_header {
      font-family: "TenezRegular";
      // font-size: 45px;
      font-size: 35px;
      transition: font 500ms;
      // position: absolute;
      // top: 220px;
      // left: 150px;
      padding-left: 20px;
      position: relative;

      @media only screen and (max-width: 500px) {
        font-size: 15px;
        // position: absolute;
        // top: 170px;
        // left: 80px;
      }
    }

    .about_us_sub_sub_header {
      font-family: "TenezItalic";
      // font-size: 35px;
      font-size: 27px;
      transition: font 500ms;
      // position: absolute;
      // top: 265px;
      // left: 150px;
      padding-left: 20px;
      position: relative;

      @media only screen and (max-width: 500px) {
        // font-size: 15px;
        // position: absolute;
        // top: 190px;
        // left: 80px;
        font-size: 16px;
      }
    }

    .about_us_content {
      font-family: "TenezRegular";
      font-size: 20px;
      transition: font 500ms;

      @media only screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

    .about_us_signature {
      font-family: "TakenbyVulturesDemo";
      font-size: 50px;
      transition: font 500ms;

      @media only screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

  }

  .about_us_logo_box {
    height: fit-content;
    width: 100%;
    color: $primary;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 50px;
    box-sizing: border-box;
    transition: width 500ms;

    @media only screen and (max-width: 750px) {
      // width: 80%;
      padding: 0px;
    }

    @media only screen and (max-width: 500px) {
      // width: 100%;
      // flex-direction: column;
      padding: 10px;

    }

    .about_us_logo1 {
      // border: 1px solid red;
      width: fit-content;
      margin: 0px 10px;
      img {
        height: 100px;
        width: auto;

        @media only screen and (max-width: 750px) {
          height: 70px;
        }

        @media only screen and (max-width: 500px) {
          height: 50px;
        }
      }


    }

    .about_us_logo2 {
      // border: 1px solid red;
      width: fit-content;
      margin: 0px 10px;
      img {
        height: 100px;
        width: auto;

        @media only screen and (max-width: 750px) {
          height: 70px;
        }

        @media only screen and (max-width: 500px) {
          height: 50px;
        }

      }

      @media only screen and (max-width: 500px) {
      }

    }

    .about_us_logo3 {
      // border: 1px solid red;
      width: fit-content;
      margin: 0px 10px;
      img {
        height: 100px;
        width: auto;

        @media only screen and (max-width: 750px) {
          height: 70px;
        }

        @media only screen and (max-width: 500px) {
          height: 50px;
        }

      }

      @media only screen and (max-width: 500px) {
      }

    }


  }


}

.services_header_section {
  height: fit-content;
  //height: 100vh;
  //min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  background-image: url(../assets/green_feather_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 500ms;

  @media only screen and (max-width: 700px) {
    // height: 500px;
  }

  .service_header_logo {
    // max-height: 100px;
    // width: 150px;
    height: 100px;
    width: auto;
    transition: all 500ms;
    margin-left: 20px;

    @media only screen and (max-width: 700px) {
      height: 50px;
    }

  }


}

.services_slider_section {
  height: fit-content;
  //min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;

  background-image: url(../assets/services_sec_header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 500ms;

  @media only screen and (max-width: 700px) {
    // height: 500px;
  }

  .service_header {
    font-family: "BlackPinkSignature";
    font-size: 100px;
    transition: font 500ms;
    padding-left: 20px;
    position: relative;
    color: #db918a;

    @media only screen and (max-width: 500px) {
      font-size: 45px;
    }

  }


}

.services_banner_section {
  //height: 100vh;
  height: 93px;
  width: 100%;
  display: flex;


  background-image: url(../assets/wood_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 500ms;

  @media only screen and (max-width: 700px) {
    // height: 500px;
  }


}


.services_table_section {
  height: fit-content;
  //height: 100vh;
  //min-height: 300px;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;

  background-image: url(../assets/white_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 500ms;

  @media only screen and (max-width: 700px) {
    // height: 500px;

  }

  .heading{
    font-family: "BlackPinkSignature";
    font-size: 100px;
    transition: font 500ms;
    padding-left: 20px;
    position: relative;
    color: #db918a;

    @media only screen and (max-width: 500px) {
      font-size: 45px;
    }

  }
.sub_heading{
    font-family: "TenezRegular";
    font-size: 50px;
    transition: font 500ms;
    padding-left: 20px;
    position: relative;
    color: #db918a;

    @media only screen and (max-width: 500px) {
      font-size: 25px;
    }

  }

  .service_table_head{
    font-family: TenezRegular;
    font-style: normal;
    letter-spacing: 2px;
    background-color: #db918a;
    color: #FFFFFF;
  }

  .service_table_body{
    font-family: TenezRegular;
    font-style: normal;
    border: 1px #db918a ;
    font-size:  18px;

  }

  .service_table_note{
    font-family: TenezItalic;
    font-style: normal;
    border: 1px #db918a ;
    font-size:  18px;

  }

}