body {
  padding: 0px;
  margin: 0px;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(45, 180, 87, 0.6);
}

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-pad-10 {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-full {
  width: 100%;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container.curve,
.container-full.curve,
.flex.curve,
.flex-row.curve,
.flex-col.curve {
  border-radius: 3px;
}

.over-hidden {
  overflow: hidden;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-row.wrap,
.flex-col.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row.flex-center,
.flex-col.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row.flex-align-end,
.flex-col.flex-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-row.flex-align-start,
.flex-col.flex-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-row.flex-align-center,
.flex-col.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row.flex-justify-end,
.flex-col.flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-row.flex-justify-start,
.flex-col.flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row.flex-justify-center,
.flex-col.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row.flex-justify-between,
.flex-col.flex-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row.flex-justify-end,
.flex-col.flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.anime {
  -webkit-transition: 400ms !important;
  transition: 400ms !important;
}

.no-anime {
  -webkit-transition: unset !important;
  transition: unset !important;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.justify-self-end {
  justify-self: flex-end;
}

@media only screen and (max-width: 400px) {
  .c--mobile-justify-self-end {
    justify-self: flex-end;
  }
}

a.unset {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-break {
  word-break: break-all;
}

.text-primary,
.text-primary * {
  font-family: "Work Sans" !important;
}

.text {
  font-size: 16px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.text.text-normal {
  font-size: 16px;
}

@media only screen and (max-width: 570px) {
  .text.text-normal {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .text.text-normal {
    font-size: 13px;
  }
}

@media only screen and (max-width: 570px) {
  .text.c--tab-text-small {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 400px) {
  .text.c--mobile-text-small {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 400px) {
  .text.c--mobile-text-xsmall {
    font-size: 12px !important;
  }
}

.text.text-small {
  font-size: 13px;
}

.text.text-xsmall {
  font-size: 12px;
}

.text.text-macro {
  font-size: 10px;
}

.text.text-tiny {
  font-size: 8px;
}

.text.text-upper {
  text-transform: uppercase;
}

.text.primary {
  font-family: "Work Sans";
}

.text.secondary {
  font-family: "Nunito";
}

.text.celias {
  font-family: "Celias";
}

.text.celias-light {
  font-family: "Celias Light";
}

.text.grey {
  color: #707070;
}

.text.green {
  color: #2DB457;
}

.text.light-grey {
  color: rgba(112, 112, 112, 0.9);
}

.text.red {
  color: red;
}

.text.black {
  color: #222222;
}

.text.white {
  color: white;
}

.text.h2 {
  font-size: 30px;
}

.text.h3 {
  font-size: 27px;
}

.text.h4 {
  font-size: 22px;
}

.text.h5 {
  font-size: 16px;
}

@media only screen and (max-width: 400px) {
  .text.h5.--r {
    font-size: 12px;
  }
}

.text.h6 {
  font-size: 15px;
  line-height: 22px;
  -webkit-transition: none;
  transition: none;
}

@media only screen and (max-width: 570px) {
  .text.h6 {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 400px) {
  .text.h6 {
    font-size: 13px;
    line-height: 20px;
  }
}

.text.justify {
  text-align: justify;
}

.text.justify--r {
  text-align: justify;
}

@media only screen and (max-width: 570px) {
  .text.justify--r {
    text-align: inherit;
  }
}

.text.center {
  text-align: center;
}

.bg-light-grey {
  background-color: #F4F4F4;
}

.bg-light-blue {
  background-color: #F6F7F8;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: black;
}

.bg-green {
  background-color: #2DB457;
}

.bg-red {
  background-color: red;
}

.bg-dark-red {
  background-color: darkred;
}

.min-w-320 {
  min-width: 280px;
}

min-w-200 {
  min-width: 160px;
}

min-h-vh {
  min-height: 100vh !important;
}

.min-w-500--r {
  min-width: 500px;
}

@media only screen and (max-width: 570px) {
  .min-w-500--r {
    min-width: 320px;
  }
}

@media only screen and (max-width: 400px) {
  .min-w-500--r {
    min-width: 260px;
  }
}

.max-w-400 {
  max-width: 400px;
}

.max-w-300 {
  max-width: 300px;
}

.max-w-350 {
  max-width: 350px;
}

.max-w-200 {
  max-width: 200px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-700 {
  max-width: 700px;
}

.max-w-fit {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.max-h-fit {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.max-h-120 {
  max-height: 120px;
}

.max-h-150 {
  max-height: 150px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}

.h-60 {
  height: 60px;
}

.h-40 {
  height: 40px;
}

.h-30 {
  height: 30px;
}

.w-auto {
  width: auto;
}

.shadow {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(112, 112, 112, 0.35);
          box-shadow: 0px 3px 5px 1px rgba(112, 112, 112, 0.35);
}

.shadow-bigger-dark {
  -webkit-box-shadow: 0px 0px 1000px 400px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1000px 400px rgba(0, 0, 0, 0.5);
}

.hover-shadow {
  -webkit-transition: -webkit-box-shadow 400ms;
  transition: -webkit-box-shadow 400ms;
  transition: box-shadow 400ms;
  transition: box-shadow 400ms, -webkit-box-shadow 400ms;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(112, 112, 112, 0.35);
          box-shadow: 0px 3px 5px 1px rgba(112, 112, 112, 0.35);
}

.hover-resize {
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.hover-resize:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hover-bg-light-grey {
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

.hover-bg-light-grey:hover {
  background-color: #F4F4F4;
}

.bd-light {
  border: 0.5px solid rgba(112, 112, 112, 0.45);
}

.bd-v-i-0--b {
  border-bottom-width: 0px;
}

.bd-v-i-0--b:nth-last-child(1) {
  border-bottom-width: 1px;
}

.hidden {
  display: none;
}

.v-hidden {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.no-transition {
  -webkit-transition: none;
  transition: none;
}

.scroll-y {
  overflow-y: scroll;
}

.relative {
  position: relative;
}

.relative > .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}

.index-1 {
  z-index: 1;
}

.index--1 {
  z-index: -1;
}

.index-2 {
  z-index: 2;
}

.absolute {
  position: absolute;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed {
  position: fixed;
}

.cut-line {
  position: relative;
}

.cut-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 3px;
  height: 2px;
  width: 90%;
}

.cut-line.black::after {
  background-color: #222222;
}

.scroll-w-small::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

.scroll-w-small::-webkit-scrollbar {
  width: 5px;
  background-color: #FFFFFF;
}

.scroll-w-small::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(45, 180, 87, 0.6);
}

.resize-8 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.size-60 {
  height: 60px;
  width: 60px;
}

.size-25 {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 400px) {
  .c--mobile-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-size-70 {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-text-right {
    text-align: right;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-text-full {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-min-w-unset {
    min-width: unset;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-min-w-250 {
    min-width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-min-w-220 {
    min-width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-min-w-200 {
    min-width: 170px;
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-resize-8 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media only screen and (max-width: 400px) {
  .c--mobile-pad-h-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media only screen and (max-width: 570px) {
  .c--tab-container {
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media only screen and (max-width: 570px) {
  .c--tab-hidden {
    background-color: yellow;
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .c--laptop-max-w-unset {
    max-width: unset;
  }
}

@media only screen and (max-width: 900px) {
  .c--laptop-hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .c--tv-max-w-unset {
    max-width: unset;
  }
}
/*# sourceMappingURL=custom.css.map */