// colors
$green: #2DB457;
$red: red;
$dark-red: darkred;
$black: #222222;
$grey: #707070;
$light_grey: #F4F4F4;
$light_blue: #F6F7F8;
$primary: #E6B9B2;
$primary_dark: #BF7A51;
$primary_dark_2: #E6B9B3;


// elements
$nav-height: 100px;

//font sizes
$f-heading: 24px;
$f-header: 22px;
$f-normal: 20px;
$f-small: 17px;

// break points
$tv: 1200px;
$laptop: 900px;
$medium: 750px;
$tab: 570px;
$mobile: 400px;
$xsmall: 320px;

//transition
$transition-normal: 400ms;
$transition-slow: 1000ms;
$transition-slower: 1500ms;

//z-index
$hamburger-menu: 999;
$cart-sidebar: 100;
$date-selector: 200;
$login-popup: 900;


//scroll-bar-width
$scroll-width-small: 5px;